body {
    padding-bottom: 4rem;
    background-image: linear-gradient(to left, #579be7, slategrey);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 2rem;
    letter-spacing: 0.6px;
}

.project-title {
    color: #d0d2d6;
    margin: 2rem;
}

.project-box {
    /* background-color: #ffffff; */
    display: block;
    margin: 2rem;
    border: 1rem;
    padding: 2rem;
    width: fit-content;
    height:max-content;
    background: #ffffff;
}

.project-info {
    margin: 1rem;
    color:black;
}

.project p {
    font-size: 16px;
}

.top-bar {
    padding: .75rem;
    background-color: slategrey;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 900;
    font-stretch: condensed;
    line-height: 0.87;
    letter-spacing: 1.1px;
    color: #ffffff;
}

a {
    color: black;
}

